<p id="notice"><%= notice %></p>

<p>
  <b>Authentication:</b>
  <%= @repository.authentication_id %>
</p>

<p>
  <b>Name:</b>
  <%= @repository.name %>
</p>

<p>
  <b>Branch:</b>
  <%= @repository.branch %>
</p>

<p>
  <b>Head sha:</b>
  <%= @repository.head_sha %>
</p>


<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
