<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<div id="grid" class="grid clearfix">
  <%= render :partial => 'shared/source', :collection => @sources %>
</div><!-- / grid -->


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
